﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterStudent.master.cs" Inherits="PROTECTED_StudentLayer_MasterStudent" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <center><h1>Wirtualny Dziekanat</h1></center>

        <asp:Button ID="Button1" runat="server" Text="Wyloguj" OnClick="Wyloguj_Click" />

        <center> ********************************************************************************************************<br />
           <br />
        </center>
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
