﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PROTECTED/StudentLayer/MasterStudent.master" AutoEventWireup="true" CodeFile="StronaStudent.aspx.cs" Inherits="PROTECTED_StudentLayer_StronaStudent" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
        <asp:Button ID="dane" runat="server" Text="Wyświetl dane" OnClick="dane_Click"  />
        <asp:Button ID="oceny" runat="server" Text="Wyświetl oceny" OnClick="oceny_Click" />
    </div>
        
</asp:Content>

