﻿<%@ Page Language="C#" MasterPageFile="~/PROTECTED/AdminLayer/MasterAdmin.master" AutoEventWireup="true" CodeFile="DodajPrzedmiotDoKierunku.aspx.cs" Inherits="PROTECTED_AdminLayer_DodajPrzedmiotDoKierunku" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div><h1>Połącz przedmiot z kierunkiem</h1></div>
    <div>
        Nazwa Przedmiotu:
        <asp:DropDownList ID="DropDownList1" runat="server">
        </asp:DropDownList>
        <br />
        Wykładowca:<asp:DropDownList ID="DropDownList2" runat="server">
        </asp:DropDownList>
        <br />
        Semestr:<asp:TextBox ID="TextBox1" runat="server"  ></asp:TextBox>
        <br />
        Rok akademicki:<asp:TextBox ID="TextBox2" runat="server"  ></asp:TextBox>
        <br />
        <asp:Button ID="Button1" runat="server" Text="Dodaj Przedmiot" OnClick="Button1_Click" />
        
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Cofni" />
        
    </div>
</asp:Content>